/***********************************
Theme
************************************/


/* Section title
---------------------------*/
.field-name-field-section-title{
    font-size: 1.563rem;
    line-height:1.2;
    margin-bottom:.463851rem;
}

// .paragraphs-items .field-name-field-section-title {
//     h1,h2,h3,h4,h5,h6{ 
//         margin:0;
//     }
// }

// /* Paragraphs
// ---------------------------*/
// .paragraphs-item-bp3-row *:last-child{
//     margin-bottom:0;
// }