/* ===============================

Home

================================= */
.page-node-20{
	.breadcrumb,
	#page-title{
		display:none;
	}
}

.home-intro{

	section:nth-child(1){
		margin-bottom:3em;

		@include bp(lg){
			@include flex(space-between, stretch);
			flex-wrap:wrap;
			margin-bottom:3rem;
		}

		p{
			text-align:center;
			margin-bottom:1.5em;

			@include bp(lg){
				height:100%;
				min-height:300px;
				padding:1.5em;
				width:31%;
				padding:1.5em;
				text-align:center;
				background:#eee;
				margin-bottom:0;
			}
		}
		a{
			display:block;
			width:100%;
			max-width:300px;
			text-align:center;
			margin:1em auto 0;

			@include bp(lg){
				display:inline-block;
				width:175px;
			}
		}
	}

	header{
		@include bp(lg){
			width:100%;
		}
	}

	h1{
		position:relative;
		text-align:center;
		padding: 2em 1rem;
		color:#fff;
		z-index:2;
		overflow:hidden;
		text-shadow: $text-shadow-1;

		@include bp(md){
			font-size:3rem;
			width:100vw;
			padding:2em 1rem;
			margin: -60px auto 2rem calc(-50vw + (656px / 2))
		}

		@include bp(lg){
			margin: -60px auto 3.5rem calc(-50vw + (896px / 2));
			font-size:4rem;
			padding:1.5em 1rem;
		}

		&::before{
			content:"";
			@include absolute(0,0);
			display:block;
			width:100%;
			height:100%;
			background: $color-hero-gradient;
			z-index:-1;
		}
		&::after{
			content:"";
			@include absolute(0,0);
			display:block;
			width:100%;
			height:100%;
			background: transparent url('/files/home3.jpg') no-repeat 50% 60%;
			background-size:cover;
			z-index:-1;
			opacity:.2;
		}
	}


	section:nth-child(2){
		padding:2em 1em;
		margin:0 auto;

		@include bp(md){
			// box-shadow:$box-shadow-3;
			@include flex();
			padding:0;
		}
		
		.left{
			@include bp(md){
				width:61.875%;
				padding:1em;
			}
		}
		nav{
			@include bp(md){
				width:38.125%;
				margin-top:1em;
			}

			ul{
				@include bp(md){
					background: linear-gradient(15deg, $color-1, lighten($color-1, 5%));
					padding:2em 1em;
				}
			}
		}
		header{
			text-align:center;
			// color:#fff;

			@include bp(md){
				text-align:left;
			}
		}

		h2{
			border-radius:2px;
			@include bp(md){
				text-align:center;
				color:$color-1;
			}
		}

		p{
			@include bp(md){
				text-align:left;
				width:100%;
				background:transparent;
				min-height:initial;
				padding-top:0;
			}
			// color:#fff;
		}

		ul{
			// color:#fff;
			list-style:none;
			margin-left:0;
			padding-left:0;

			&:nth-of-type(2){
				@include bp(md){
					flex-wrap:wrap;
					@include flex(center,center);
				}
			}
		}
		li{
			@include bp(md){
				text-align:center;
				color:#fff;
			}
		}
		.header{
			font-family:$font-2;
			text-align:center;
			margin-bottom:1.2em;

			@include bp(md){
				width:100%;
				font-size:19px;
				margin-top:0;
			}

			@include bp(lg){
				
				margin-top:0;
			}
		}

		.button{
			display:block;
			width:75%;
			text-align:center;
			margin:0 auto 1.5em;
			padding:10px 20px;
			box-shadow:$box-shadow-4;

			@include bp(md){
				display:inline-block;
				width:auto;
				margin:0 1em;
			}
		}
	}
}
/* ------------------------------
Interactive Graphic
-------------------------------- */

.home-thinglink{
	h2{
		text-align:center;
		color:$color-1;
	}
	// DOESN'T WORK BECAUSE OF STUPID STYLING INSIDE THING LINK
	// .field-item.item1{
	// 	position:relative;
	// 	padding-left:0;
	// 	padding-right:0;
	// 	padding-top: (540/896) * 100%;
	// }
	// iframe{
	// 	@include absolute(0,0);
	// 	width:100%;
	// }
}