/* ================================

Timeline

==================================*/
.page-node-18{
	#page-title{
		@include hide;
	}
	#launcher{
		display:none;
	}


	.nav-scrolling{
		.zone-header-wrapper{
			box-shadow:none;
		}	
	}
}
/*---------------------------------
Container
----------------------------------*/
.sim-container {
	box-sizing: border-box;
	&::before, &::after, *, *::before, *::after {
		box-sizing: inherit;
	}
	padding-bottom: 116px;
}


/*---------------------------------
Sticky input bar
----------------------------------*/
.sim-input {
	@include flex(center,center);
	background: $color-2;
	color: #fff;
	width: 100%;
	position: fixed;
	padding: 1em;
	left: 0;
	bottom:0;
	min-height:100pxi;
	height: 75pxi;
	z-index: 14;

	@include bp(md){
		bottom:0;
		top: 62pxi;
		min-height: 82pxi;
	}
	@include bp(lg){
		top: 60pxi;
	}

	html.overlay-open & {
		display: none;
	}

	&::after {
		@include absolute(0,0);
		z-index: 0;
		content: "";
		width: 100%;
		height: 100%;
		box-shadow: $box-shadow-4;
	}

	&__input-wrapper {
		position: relative;
		margin-left: 1rem;
		z-index: 998;
		text-shadow:$text-shadow-1;

		output {
			display: block;
			text-align: center;
			font-size:20px;
			font-weight:bold;
			
			@include bp(lg){
				display:block;
				float:right;
				margin-left:1em;
				width:72px;
				line-height:1;
			}
		}
	}
}

/*---------------------------------
Row
----------------------------------*/
.row {
	@include flex();
	flex-wrap: wrap;
	margin-bottom:3rem;
}

// header
.row__header {
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding:1em;
	border-radius:2px;

	@include bp(md){
		padding:1.5em;
	}

	h2{
		font-size:24px;
		margin-bottom:1em;
		text-shadow:$text-shadow-1;	
	}
	p{
		font-size:20px;

		&:last-child{
			margin-bottom:16px * 2;
		}
	}
	.button{
		font-size:20px;
		margin-bottom:32px;
		background:$color-2;
		padding:.5em 2em;
	}
}


// individual sections
.sim {
	background:linear-gradient(170deg, #fff 0%, lighten($color-1,60%) 100%);

	// 100% for xs
	width: 100%;
	padding: 1em;
	position: relative;
	text-align: center;
	
	@include bp(md) {
		width: 50%;
	}
	@include bp(lg) {
		padding:3em 1.5em 1.5em;
	}
	
	// for top section that isn't 50/50
	&--33 {
		@include bp(md) {
			width: 33.33334%;
		}
	}
	
	// for bus overflow
	&--nooverflow {
		overflow: hidden;
	}
	

	// section title
	&__header {
		z-index:3;

		h3 {
			display: inline-block;
			position: relative;
			margin: 0 auto 1rem;
			text-align: center;
			color: #333;
			text-shadow: $text-shadow-1;
			min-height: 77px;
			line-height: 1.3333;
			font-size:20px;
			z-index:3;
		}
	}
	
	// inline heading trigger spans
	&__tooltip-trigger {
		display: inline;
		border-bottom: 1px dotted $color-1;
		position: relative;

		&:hover {
			cursor: help;

			&::before {
				opacity: 1;
				transform: translate(-50%, -2em);
				transition: $transition-1 ease-out .2s;
			}
		}
		&.js-active {
			&:hover {
				cursor: pointer;
			}
			& ~ .sim__tooltip {
				opacity: 1;
				transform: translate(-50%, calc(100% - 1em));
				transition: .5s ease-out .2s;
			}
		}
	}
	
	// hidden tooltips
	&__tooltip {
		@include absolute(null,50%,null,-2em);
		display: block;
		width: 100%;
		transform: translate(-50%, 100%);
		padding: 1rem;
		background: $color-1;
		transition: .2s ease;
		opacity: 0;
		color: #fff;
		font-size: 16px;
		font-family: $font-1;
		box-shadow: 0 4px 15px -4px rgba(black, .17);
		z-index: 99;

		&::before {
			@include absolute(-.4em, calc(50% - .5em));
			content: "";
			width: 1em;
			height: 1em;
			background: $color-1;
			transform: rotate(45deg);
		}

		i {
			display:inline-block;
			width:100%;
			text-align:center;
			img {
				width: 1em;
				height: 1em;
				margin-right: .25em;
				margin-bottom: .25em;
			}
		}
	}

	// figure parent wrapper
	&__icon {
		display: block;
		margin: 0 auto 1rem;
		transition: .5s ease .2s;
		position:relative;
		z-index:1;

		svg{
			width:75%;
			height:auto;
		}
	}

	// data number figures
	&__data {
		display: inline-block;
		padding: 10px 20px;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		min-width: 113px;
		line-height: 1;
		margin-bottom: 1rem;
		color: $color-1;
		box-shadow: $box-shadow-2;
		border-radius: 2px;
		background: #fff;
		
		// for figures that have the data numbers over the imagery
		&--overlay {
			@include absolute(40%,50%);
			transform: translateX(-50%);
			width: 50%;
			box-shadow: none;
			box-shadow: $box-shadow-2;
			z-index: 3;
		}
	}

	// special rule for population figure's text color
	// this is the only one that doesn't change from "good" to "bad"
	#dataPopulation {
		color: #333;
	}
}

// graph section -- originally had a more complicated BEM because we thought it would be unique from the rest of the sim's styling
.sim-graph {
	margin: 0;
	padding: 0 12.5%;
	position: relative;
	margin-bottom: 1rem;
	
	// the gray bar that is always visible beneath the data chart's bar
	&::before {
		border-radius: $border-radius-bar-chart;
		@include absolute(null,12.5%,null,0);
		background:#fff;
		content: "";
		width: 75%;
		height: 2em;
		box-shadow: $box-shadow-1;
		z-index: 2;
	}
	
	// data bar that changes
	&__bar {
		position: relative;
		display: block;
		height: 2em;
		transition: .5s ease .25s;
		z-index: 3;
		border-radius: $border-radius-bar-chart;
		
		&--total {
			background: $color-danger;
		}
		&--renewable {
			background: $color-danger;
		}
	}
}
