/* ================================

Interactivity from timeline input range

==================================*/


/*-----------------------------------------
Permanent Attributes
------------------------------------------*/

#total_v2,
#number,
#energy-one,
#energy-two,
#energy-three,
#energy-four,
#energy-five,
#energy-six,
#energy-seven,
#existing-phase2to6,
#existing-phase6,
#existing-phase7,
#existing-phase8,
#energy-eight{
    transition: $transition-3 ease .5s;
    transform-origin: 50% 50%;
}


#renewable1 {
    transform-origin: 47.5% 54.5%;
    -moz-transform-origin: 50% 41% 0;
}

#smoke {
    transition: $transition-3 ease .5s;
    transform-origin: 50% 100%;
    -moz-transform-origin:50% 60% 0;
}

#new1,
#new2,
#new3 {
    opacity: 0;
    transition: $transition-3 ease .5s;
}

#number,
#renewable1 {
    animation: rotate infinite 0s linear .5s;
}

#trips1,
#trips2,
#trips3,
#trips4 {
    opacity: 0;
    transform-origin: 50% 50%;
    transition: $transition-3 ease .5s;
}

#trips1,
#trips3 {
    transform: translate(50px, 0);
}

#trips2,
#trips4 {
    transform: translate(-50px, 0);
}

#chord,
#plug {
    transition: $transition-3 ease .5s;
}

#plug {
    transform-origin: 100% 50%;
}

#chord {
    stroke-dasharray: 75pxi;
}


#population-two,
#population-three,
#population-four,
#population-five,
#population-six,
#population-seven,
#population-eight{
    transition: $transition-3 ease .5s;
    transform-origin: 50% 50%;
    opacity:0
}


/*-----------------------------------------
2015 Phase 1
------------------------------------------*/

[data-year="2015"] {
    .sim__data {
        color: $color-cycle-bad-1;
    }
    #renewable1,
    #number {
        animation-duration: 0s;
    }
    #trips4 {
        opacity: .25;
    }
    #smoke {
        opacity: 1;
        transform: scale(1)
    }
}

/*-----------------------------------------
2020 Phase 2
------------------------------------------*/

[data-year="2020"] {
    .sim__data {
        color: $color-cycle-bad-2;
    }
    #total_v2 {
        transform: scale(.9375);
    }
    #renewable1,
    #number {
        animation-duration: 14s;
    }
    #new1 {
        opacity: .33;
    }
    #trips4 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #plug {
        transform: translate(12pxi, 0);
    }
    #chord {
        stroke-dashoffset: 12pxi;
    }
    #smoke {
        opacity: .9;
        transform: scale(.95)
    }
    #energy-one{
        opacity:0;
    }
    #population-two{
        opacity:1
    }
    #existing-phase2to6{
        stroke:#406d52;
    }
}



/*-----------------------------------------
2025 Phase 3
------------------------------------------*/

[data-year="2025"] {
    .sim__data {
        color: $color-cycle-bad-3;
    }
    #total_v2 {
        transform: scale(.875);
    }
    #renewable1,
    #number {
        animation-duration: 12s;
    }
    #new1 {
        opacity: .66;
    }
    #trips4 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips3 {
        opacity: 1;
    }
    #plug {
        transform: translate(18pxi, 0);
    }
    #chord {
        stroke-dashoffset: 18pxi;
    }
    #smoke {
        opacity: .8;
        transform: scale(.9)
    }
    #energy-one,
    #energy-two{
        opacity:0;
    }
    #population-two,
    #population-three{
        opacity:1
    }

    #existing-phase2to6{
        stroke:darken($color-2,15%);
        stroke-width:1;
    }
}



/*-----------------------------------------
2030 Phase 4
------------------------------------------*/

[data-year="2030"] {
    .sim__data {
        color: $color-cycle-bad-4;
    }
    #total_v2 {
        transform: scale(.8125);
    }
    #renewable1,
    #number {
        animation-duration: 10s;
    }
    #new1 {
        opacity: 1;
    }
    #trips4 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips3 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #plug {
        transform: translate(24pxi, 0);
    }
    #chord {
        stroke-dashoffset: 24pxi;
    }
    #smoke {
        opacity: .7;
        transform: scale(.85)
    }
    #energy-one,
    #energy-two,
    #energy-three{
        opacity:0;
    }
    #population-two,
    #population-three,
    #population-four{
        opacity:1
    }
    #existing-phase2to6{
        stroke:darken($color-2,15%);
        stroke-width:1.125;
    }
}



/*-----------------------------------------
2035 Phase 5
------------------------------------------*/

[data-year="2035"] {
    .sim__data {
        color: $color-cycle-bad-5;
    }
    #total_v2 {
        transform: scale(.75);
    }
    #renewable1,
    #number {
        animation-duration: 8s;
    }
    #new1 {
        opacity: 1;
    }
    #new2 {
        opacity: .33;
    }
    #trips4 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips3 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips2 {
        opacity: 1;
    }
    #plug {
        transform: translate(30pxi, 0);
    }
    #chord {
        stroke-dashoffset: 30pxi;
    }
    #smoke {
        opacity: .6;
        transform: scale(.8)
    }
    #energy-one,
    #energy-two,
    #energy-three,
    #energy-four{
        opacity:0;
    }
    #population-two,
    #population-three,
    #population-four,
    #population-five{
        opacity:1
    }
    #existing-phase2to6{
        stroke:darken($color-2,15%);
        stroke-width:1.25;
    }
}



/*-----------------------------------------
2040 Phase 6
------------------------------------------*/

[data-year="2040"] {
    .sim__data {
        color: $color-cycle-bad-6;
    }
    #total_v2 {
        transform: scale(.6875);
    }
    #renewable1,
    #number {
        animation-duration: 6s;
    }
    #new1 {
        opacity: 1;
    }
    #new2 {
        opacity: 1;
    }
    #trips4 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips3 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips2 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #plug {
        transform: translate(36pxi, 0);
    }
    #chord {
        stroke-dashoffset: 36pxi;
    }
    #smoke {
        opacity: .5;
        transform: scale(.75)
    }
    #energy-one,
    #energy-two,
    #energy-three,
    #energy-four,
    #energy-five{
        opacity:0;
    }
    #population-two,
    #population-three,
    #population-four,
    #population-five,
    #population-six{
        opacity:1
    }
    #existing-phase2to6{
        stroke:darken($color-2,15%);
        stroke-width:1.375;
    }
    #existing-phase6{
        opacity:0;
    }
}



/*-----------------------------------------
2045 Phase 7
------------------------------------------*/

[data-year="2045"] {
    .sim__data {
        color: $color-cycle-bad-7;
    }
    #total_v2 {
        transform: scale(.6125);
    }
    #renewable1,
    #number {
        animation-duration: 4s;
    }
    #new1 {
        opacity: 1;
    }
    #new2 {
        opacity: 1;
    }
    #new3 {
        opacity: .33;
    }
    #trips4 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips3 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips2 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips1 {
        opacity: 1;
    }
    #plug {
        transform: translate(42pxi, 0);
    }
    #chord {
        stroke-dashoffset: 42pxi;
    }
    #smoke {
        opacity: .4;
        transform: scale(.7)
    }
    #energy-one,
    #energy-two,
    #energy-three,
    #energy-four,
    #energy-five,
    #energy-six{
        opacity:0;
    }
    #population-two,
    #population-three,
    #population-four,
    #population-five,
    #population-six,
    #population-seven{
        opacity:1
    }
    #existing-phase2to6{
        stroke:darken($color-2,15%);
        stroke-width:1.5;
    }
    #existing-phase6{
        opacity:0;
    }
    #existing-phase7{
        opacity:0;
    }
}



/*-----------------------------------------
2050 Phase 8
------------------------------------------*/

[data-year="2050"] {
    .sim__data {
        color: $color-cycle-bad-8;
    }
    #total_v2 {
        transform: scale(.5);
    }
    #renewable1,
    #number {
        animation-duration: 2s;
    }
    #new1 {
        opacity: 1;
    }
    #new2 {
        opacity: 1;
    }
    #new3 {
        opacity: 1;
    }
    #trips4 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips3 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips2 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #trips1 {
        transform: translate(0, 0);
        opacity: 1;
    }
    #plug {
        transform: translate(48pxi, 0);
    }
    #chord {
        stroke-dashoffset: 48pxi;
    }
    #smoke {
        opacity: .3;
        transform: scale(.65)
    }
    #energy-one,
    #energy-two,
    #energy-three,
    #energy-four,
    #energy-five,
    #energy-six,
    #energy-seven{
        opacity:0;
    }
    #population-two,
    #population-three,
    #population-four,
    #population-five,
    #population-six,
    #population-seven,
    #population-eight{
        opacity:1
    }
    #existing-phase2to6{
        stroke:darken($color-2,15%);
        stroke-width:1.5;
    }
    #existing-phase6{
        opacity:0;
    }
    #existing-phase7{
        opacity:0;
    }
    #existing-phase8{
        opacity:0;
    }
}